/* header */
.fotoSLM{
    width: 130px;
    height: 170px;
    border-radius: 2em;
}
.header h2{
    color: #fff;
    font-size: 2em;
}
.header p{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
/* contact */
/* .list-unstyled{
    background-color: #fff;
} */


/* sec2 */
.img-ilus{
    width: 500px;
    
}

/* footer */

.icon{
    width: 1em;
    background-color: #fff;

}


.link{
    text-decoration: none;
}


@media only screen and (max-width: 700px) {
    .list-unstyled{
        display: flex;
        flex-direction: row;
    }
    .list-unstyled a{
        padding: 5px;
    }
}