@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap');

body{
    font-family: 'Oswald', sans-serif;
}
/* header */
.fotoSLM{
    width: 130px;
    height: 170px;
    border-radius: 2em;
}
.header h2{
    color: #fff;
    font-size: 2em;
}
.header p{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
/* sec 1 */
.sec1container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*  */
    background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
.sec1container h1{
    color: #d40152;
    text-shadow: 1px 1px 2px rgb(139, 101, 19);
    font-weight: 700;
    font-size: 3em;
}
.sec1container p {
    font-size: 1.5em;
}
.bg-front{
    border-radius: 1em 3em 1em 3em;
    background-color: rgba(19, 17, 17, 0.9)
}
    

/* sec2 */
.img-ilus{
    width: 500px;
    
}
/* sec3 */
#portfolio img{
    height: 190px;
}

/* footer */

.icon{
    width: 1em;
    background-color: #fff;

}


.link{
    text-decoration: none;
}


@media only screen and (max-width: 700px) {
    .list-unstyled{
        display: flex;
        flex-direction: row;
    }
    .list-unstyled a{
        padding: 5px;
    }
}