/* header */
.fotoSLM{
    width: 150px;
    height: 200px;
    border-radius: 5em;
}

/* sec2 */
.img-ilus{
    width: 500px;
    
}

/* footer */

.icon{
    width: 0.7em;
}


.link{
    text-decoration: none;
}


@media only screen and (max-width: 700px) {
    .list-unstyled{
        display: flex;
        flex-direction: row;
    }
    .list-unstyled a{
        padding: 5px;
    }
}